@page "/operations"
@using HomeWallet.PwaApp.Tables

<div class="row">
    <div class="col-9">
        <h3>Operations</h3>
    </div>
    <a class="btn btn-primary" href="/createOperation">Create operation</a>
</div>
<div class="row p-3">
    <OperationTable Operations="OperationsPwa" OnDeleted="DeleteOperation" />
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>