@page "/rangeBalance"
@using HomeWallet.PwaApp.Tables
@using HomeWallet.PwaApp.Models
<h3>Operation report by period</h3>
<EditForm Model="RangeBalanceModel">
    <div class="form-group row">
        <label for="sinceDate" class="col-md-2 col-form-label">StartDate:</label>
        <div class="col-md-10">
            <InputDate id="sinceDate" @bind-Value="RangeBalanceModel.SinceDate"></InputDate>
        </div>
    </div>
    <div class="form-group row">
        <label for="tillDate" class="col-md-2 col-form-label">EndDate:</label>
        <div class="col-md-10">
            <InputDate id="tillDate" @bind-Value="RangeBalanceModel.TillDate"></InputDate>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary" @onclick="() => GetReport()">GetReport</button>
        </div>
    </div>
    <div class="row p-3">
        <BalanceTable BalanceTableModel="RangeBalanceModel.BalanceTable" />
    </div>
</EditForm>